/*  your css code here. If applicable */
#yellow{
	border:1px;
	background-color:yellow;
	border:1px solid green
}
#red{
	border:1px;
	background-color:red;
	border:1px solid black;
}
#green{
	border:1px;
	background-color:green;
	border:1px solid yellow;
}